<!--alert -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
    iziToast.success({
        title: 'Yeah!',
        backgroundColor: '#134326',
        titleColor: 'White',
        theme: 'dark',
        timeout: 2500,
        drag: true,
        overlay: false,
        displayMode: 'once',
        id: 'inputs',
        zindex: 999,
        position: 'bottomRight',
        message: '{{message}}'
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-white rounded">
    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
    <div class="icon">
        <i class="fa fa-times-circle"></i>
    </div>
    {{message}}
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="alert alert-info alert-white rounded">
    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
    <div class="icon">
        <i class="fa fa-info-circle"></i>
    </div>
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}