{% extends "base-html.html" %}
{% block title %}
LOGIN
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/css/auth.css">
<link rel="stylesheet" href="../../static/css/base.css">
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

    :root {
        --first-color: #144a85;
        --first-color-light: #6c8aaf;
        --green-color: #134326;
        --candy-red: #FF0800;
        --sand-tan: #e1b382;
        --dark-color: #444a4a;
        --olive: #a3bcb6;
        --white-color: #f7f6fb;
        --primary-font: "Gelasio", serif;
        --normal-font: "Titillium Web", sans-serif;
    }

    body,
    input {
        background: linear-gradient(180deg, rgba(24, 6, 6, 0) 35.87%, #190505 91.96%),
            url(../../static/img/bg/4.png);
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<section class="wrapping">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="forms-container">
                    <div class="signin-signup">
                        <form action="{% url 'auth' %}" method="POST" class="sign-in-form">
                            {% csrf_token %}
                            <div class="logo mx-auto text-center">
                                <img src="../../static/img/logo/1.png" alt="" srcset="">
                            </div>
                            {% include 'alerts.html' %}
                            <div class="input-field">
                                <i class="las la-user-circle"></i>
                                <input type="text" placeholder="Username" name="username" />
                            </div>
                            <div class="input-field">
                                <i class="las la-lock"></i>
                                <input type="password" placeholder="Password" name="password" />
                            </div>
                            <button type="submit" class="btn">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panels-container">
                    <div class="panel left-panel">
                        <div class="content">
                            <h3>EMPLOYEE SELF SERVICE PORTAL</h3>
                            <p>
                                The portal allows employees to directly complete job-related tasks in a more
                                reliable,
                                effective, and self-empowering experience.
                            </p>
                            <button class="btn transparent my-2" id="sign-up-btn">
                                Download Manual
                            </button>
                        </div>
                        <img src="../../static/icons/l1.svg" class="image img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}